@model DetallesPagarViewModel

@{
    ViewData["Title"] = "Detalles";
}
<div class="table-container" id="table-container" name="table-container">
<div class="table-responsive">
<table class="table table-borderless table-sm">
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Producto</th>
            <th>Valor</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var opcion in Model.Detalles.Where(x => x.IdConsulta == Model.Id_consulta))
        {
            <tr>
                <td>@Model.Servicios.FirstOrDefault(p => p.IdMotivoCobro == opcion.IdMotivoCobro).Descripcion</td>
                <td>@opcion.Producto</td>
                <td>@opcion.Valor</td>
                <td>@opcion.Cantidad</td>
                <td>@opcion.Subtotal</td>
                <td>
                    <form asp-action="Eliminar" asp-route-id="@opcion.IdDetalleCobro">
                        <button class="option" type="submit">Eliminar</button>
                                <input hidden id="idConsulta" name="idConsulta" value="@opcion.IdConsulta"/>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
<br />
<br />
<form id="pagarConsulta" action="@Url.Action("Pagos","Pagos")" method="POST">
    <input hidden id="IdConsulta" name="IdConsulta" value="@Model.Id_consulta" />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Servicio">Servicio:</label>
                <select class="form-control" id="IdMotivoCobro" name="IdMotivoCobro">
                    @foreach (var opcion in Model.Servicios)
                    {
                        <option value="@opcion.IdMotivoCobro">@opcion.Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Producto" class="control-label">Descripción</label>
                <input name="Producto" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Valor" class="control-label">Valor</label>
                <input name="Valor" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Cantidad" class="control-label">Cantidad</label>
                <input name="Cantidad" class="form-control" />
            </div>
        </div>
        <div class="col-md-1">
            <script>
                // Código JavaScript aquí
                console.log("before");
            </script>
            <br />
            @*<button onclick="@{
                }">
                +
            </button>*@
            <button class="btn-add" type="submit">+</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/pages/pagos.js" asp-append-version="true"></script>
}