@model DetallesPagarViewModel

@{
    ViewData["Title"] = "Detalles";
}
<div class="table-container" id="table-container" name="table-container">
<div class="table-responsive">
<table class="table table-borderless table-sm table-striped ">
            <thead class="table-dark">
        <tr>
            <th>Servicio</th>
            <th>Descripción</th>
            <th>Valor</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var opcion in Model.Detalles.Where(x => x.IdConsulta == Model.consulta.IdConsulta))
        {
            <tr>
                <td>@Model.Servicios.FirstOrDefault(p => p.IdMotivoCobro == opcion.IdMotivoCobro).Descripcion</td>
                <td>@opcion.Producto</td>
                <td>@opcion.Valor</td>
                <td>@opcion.Cantidad</td>
                <td>@opcion.Subtotal</td>
                <td>
                            <button class="option btn btn-outline-danger" type="button" onclick="deleteDetalle('@opcion.IdDetalleCobro')">Eliminar</button>
                        <input hidden id="idConsulta" name="idConsulta" value="@opcion.IdConsulta"/>
                </td>
            </tr>
        }
    </tbody>
            <tfoot>
                <tr><td colspan="6"></td></tr>
                <tr>
                    <td colspan="3"></td>
                    <td>Total</td>
                    <td>@Model.consulta.Total</td>
                </tr>
            </tfoot>
</table>
</div>
</div>
<br />
<br />
<form id="agregarDetalleForm"  method="POST">
    <input hidden id="IdConsulta" name="IdConsulta" value="@Model.consulta.IdConsulta" />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="Servicio">Servicio:</label>
                <select class="form-select select2" id="idMotivoCobro" name="IdMotivoCobro" style="width:100%;">
                    @foreach (var opcion in Model.Servicios)
                    {
                        <option value="@opcion.IdMotivoCobro">@opcion.Descripcion</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Producto" class="control-label">Descripción</label>
                <input name="Producto" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Valor" class="control-label">Valor</label>
                <input name="Valor" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="Cantidad" class="control-label">Cantidad</label>
                <input name="Cantidad" class="form-control" />
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-info mt-4" type="button" onclick="addDetalle()">+</button>
        </div>
    </div>
</form>

<br />
<br />
<br />
<form asp-action="Pagar" asp-route-id="@Model.consulta.IdConsulta">
    <button class="btn btn-primary ms-2 float-end" type="submit">Pagar</button>
</form>
<button class="btn btn-secondary float-end" data-bs-dismiss="modal">Cerrar</button>

@section Scripts{
    <script src="~/js/pages/pagos.js" asp-append-version="true"></script>
}