@model clinicaWeb.Models.UsuariosViewModel;
@{
    ViewData["Title"] = "Editar";
}

<div class="row">
    <form id="editUserForm" action="@Url.Action("Editar")" method="post">
        <input hidden name="IdUsuario" value="@Model.Usuario.IdUsuario" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="NombreUsuario" class="control-label">Usuario</label>
                    <input name="NombreUsuario" class="form-control" value="@Model.Usuario.NombreUsuario" />
                </div>
                <div class="form-group">
                    <label for="PreguntaSeg" class="control-label">Pregunta de seguridad</label>
                    <input name="PreguntaSeg" class="form-control"  value="@Model.Usuario.PreguntaSeg" />
                </div>
                <div class="form-group">
                    <label for="RespuestaSeg" class="control-label">Respuesta de seguridad</label>
                    <input name="RespuestaSeg" class="form-control" value="@Model.Usuario.RespuestaSeg"  />
                </div>
                <div class="form-group">
                    <label for="Dpi" class="control-label">DPI</label>
                    <input name="Dpi" class="form-control" value="@Model.Usuario.Dpi"  />
                </div>
                <div class="form-group">
                    <label for="Nombre" class="control-label"></label>
                    <input name="Nombre" class="form-control"  value="@Model.Usuario.Nombre" />
                </div>
                <div class="form-group">
                    <label for="Apellido" class="control-label"></label>
                    <input name="Apellido" class="form-control"  value="@Model.Usuario.Apellido" />
                </div>
                <div class="form-group">
                    <label for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                    <input name="FechaNacimiento" type="date" class="form-control"  value="@Model.Usuario.FechaNacimiento" />
                </div>
                <div class="form-group">
                    <label for="Telefono" class="control-label">Teléfono</label>
                    <input name="Telefono" class="form-control" value="@Model.Usuario.Telefono" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Correo" class="control-label"></label>
                    <input name="Correo" class="form-control"  value="@Model.Usuario.Correo" />

                </div>
                <div class="form-group">
                    <label for="EstadoCivil" class="control-label">Estado Civil</label>
                    <input name="EstadoCivil" class="form-control"  value="@Model.Usuario.EstadoCivil" />
                </div>
                <div class="form-group">
                    <label for="Profesion" class="control-label">Profesión</label>
                    <input name="Profesion" class="form-control"  value="@Model.Usuario.Profesion" />
                </div>
                <div class="form-group">
                    <label for="Nacionalidad" class="control-label">Nacionalidad</label>
                    <input name="Nacionalidad" class="form-control" value="@Model.Usuario.Nacionalidad"  />
                </div>
                <div class="form-group">
                    <label for="Antecedentes" class="control-label">Antecedentes</label>
                    <input name="Antecedentes" class="form-control"  value="@Model.Usuario.Antecedentes" />
                </div>
                <div class="form-group">
                    <label for="TipoSange" class="control-label">Tipo de sangre</label>
                    <input name="TipoSange" class="form-control"  value="@Model.Usuario.TipoSange" />
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">Contraseña</label>
                    <input name="Password" class="form-control" value="@Model.Usuario.Password"  />
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label">Permisos</label>
                        <select class="form-select select2" multiple id="permissionsListEdit" name="permissionsListEdit">
                            @foreach (var item in Model.Permisos)
                            {
                                if (Model.Usuario.Permisos.Exists(x => x.Descripcion == item))
                                {
                                    <option selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option value="@item">@item</option>
                                }

                            }
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" onclick="guardadoAlert(event)" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>

        function guardadoAlert(e) {
            e.preventDefault();
            Swal.fire({
                icon: 'success',
                title: 'Cambios guardados',
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                    const formulario = document.getElementById('editUserForm');
                    formulario.submit();
                }
            })
        }

        function alertTerminarConsulta(e) {
            e.preventDefault();
            Swal.fire({
                title: '¿Esta seguro de terminar esta consulta?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((resultado) => {

                if (resultado.isConfirmed) {
                    const formulario = document.getElementById('editUserForm');
                    formulario.submit();
                }

            })
        }

        function alertElminarPrevent(e) {
            e.preventDefault();

            Swal.fire({
                title: '¿Esta seguro de eliminar este servicio?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((resultado) => {

                if (resultado.isConfirmed) {
                    Swal.fire(
                        'Good job!',
                        'You clicked the button!',
                        'success'
                    );
                    const formulario = document.getElementById('eliminarForm');
                    formulario.submit();
                }

            })
        }
    </script>
    <script src="~/js/pages/usuarios.js" asp-append-version="true"></script>
}

