@model IEnumerable<ClinicaDomain.Usuario>


@{
    ViewData["Title"] = "Usuarios";
}
@section Links{
    <link rel="stylesheet" href="~/css/pages/Usuarios.css" asp-append-version="true" />
}

<h1>Usuarios</h1>

@*<div class="row">
    <form asp-action="Search" method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar usuario" id="input" name="input">
            <div class="input-group-append">
                <input type="submit" class="btn btn-secondary" id="botonBusqueda" value="Buscar" />
            </div>
        </div>
    </form>
</div>*@

<div class="card card-body ">
    <p>
        <a asp-action="Create" method="get">Crear usuario</a>
    </p>
    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
           Agregar Usuario
        </button>
    </p>
    <table id="tableUser" class="table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Dpi</th>
                <th>Profesión</th>
                <th>Remitido por</th>
                <th>Acciones</th>
                @*<th>Acciones</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NombreUsuario</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.Telefono</td>
                    <td>@item.Correo</td>
                    <td>@item.Dpi</td>
                    <td>@item.Profesion</td>
                    <td>@item.Remitido</td>
                    <td>
                        <div class="options d-flex ">
                            <a class="option" href="/Usuarios/Detalles/@item.IdUsuario">Ver</a>
                            @*<a class="option" href="/Usuarios/Editar/@item.IdUsuario">Editar</a>*@
                            <a class="option" href="@Url.Action("Editar","Usuarios",new{id = @item.IdUsuario}) ">Editar</a>
                            <form asp-action="Eliminar" asp-route-id="@item.IdUsuario">
                                <button class="option" type="submit">Eliminar</button>
                            </form>
                            @if (item.UsuarioActivo == true)
                            {
                                <form asp-action="Activate" asp-route-id="@item.IdUsuario">
                                    <input type="hidden" value="false" name="state"/>
                                    <button class="option" type="submit">Desactivar</button>
                                </form>
                            }
                            else
                            {
                                <form asp-action="Activate" asp-route-id="@item.IdUsuario">
                                    <input type="hidden" value="true" name="state" />
                                    <button class="option" type="submit">Activar</button>
                                </form>
                            }
                        </div>
                    </td>
                    @*<td>
                        <button class="btn" type="button" id="rowMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/Usuarios/Detalles/@item.IdUsuario">Ver</a>
                            <a class="dropdown-item" href="/Usuarios/Editar/@item.IdUsuario">Editar</a>
                            <form asp-action="Eliminar" asp-route-id="@item.IdUsuario">
                                <button class="dropdown-item" type="submit">Eliminar</button>
                            </form>
                            <form asp-action="Desactivar" asp-route-id="@item.IdUsuario">
                                <button class="dropdown-item" type="submit">Desactivar</button>
                            </form>

                        </div>
                </td>*@
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- Modal Crear Usuario-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crear" asp-action="Create" method="POST">
                    <div class="form-group">
                        <label class="control-label">Usuario</label>
                        <input name="NombreUsuario" id="NombreUsuario" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pregunta de Seguridad</label>
                        <input name="PreguntaSeg" id="PreguntaSeg" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Respuesta de seguridad</label>
                        <input name="RespuestaSeg" id="RespuestaSeg" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dpi</label>
                        <input name="Dpi" id="Dpi" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input name="Nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido</label>
                        <input name="Apellido" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de nacimiento</label>
                        <input name="FechaNacimiento" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Teléfono</label>
                        <input name="Telefono" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <input name="Correo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado civil</label>
                        <input name="EstadoCivil" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Profesion</label>
                        <input name="Profesion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nacionalidad</label>
                        <input name="Nacionalidad" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Remitido por</label>
                        <input name="Remitido" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Antecedentes</label>
                        <input name="Antecedentes" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de sangre</label>
                        <input name="TipoSange" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Contraseña</label>
                        <input name="Password" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="crear">Agregar</button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/pages/usuarios.js" asp-append-version="true"></script>
}