@model IEnumerable<ClinicaDomain.Usuario>


@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<div class="row">
    <form asp-action="Search" method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar usuario" id="input" name="input">
            <div class="input-group-append">
                <input type="submit" class="btn btn-secondary" type="button" id="botonBusqueda" value="Buscar" />
            </div>
        </div>
    </form>
</div>
<p>
    <a asp-action="Create" method="get">Crear usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No. Registro</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dpi</th>
            <th>Profesión</th>
            <th>Remitido por</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.NoRegistro</td>
            <td>@item.NombreUsuario</td>
            <td>@item.Nombre</td>
            <td>@item.Apellido</td>
            <td>@item.Telefono</td>
            <td>@item.Correo</td>
            <td>@item.Dpi</td>
            <td>@Html.DisplayFor(modelItem => item.Profesion)</td>
            <td>@Html.DisplayFor(modelItem => item.Remitido)</td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.IdUsuario }) |
                @Html.ActionLink("Detalles", "Detalles", new { id=item.IdUsuario }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id=item.IdUsuario })
            </td>
                <td>
                    <button class="btn" type="button" id="rowMenu" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/Usuarios/Detalles/@item.IdUsuario">Ver</a>
                        <a class="dropdown-item" href="/Usuarios/Editar/@item.IdUsuario">Editar</a>
                        <form asp-action="Eliminar" asp-route-id="@item.IdUsuario">
                            <button class="dropdown-item" type="submit">Eliminar</button>
                        </form>
                        <a class="dropdown-item" href="/Usuarios/Eliminar/@item.IdUsuario">Eliminar2</a>
                        <a class="dropdown-item" href="/Usuarios/Eliminar/@item.IdUsuario">Eliminar3</a>

                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
