@using Newtonsoft.Json;
@model IEnumerable<ClinicaDomain.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}
@section Links{
    <link rel="stylesheet" href="~/css/pages/Usuarios.css" asp-append-version="true" />
}

<partial name="~/Views/Shared/_modalEdit.cshtml" />
<partial name="Partials/_modalCrear.cshtml" />
<partial name="Partials/_modalCrearConsulta.cshtml" />



<div class="card shadow-lg mt-5">
    <div class="card-body">
        <p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                Agregar Paciente
            </button>
        </p>
        <div class="table-responsive">
            <table id="tablePaciente" class="table table-striped ">
                <thead class="table-dark">
                    <tr>
                        <th></th>
                        <th>No Registro</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dpi</th>
                        <th>Edad</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Direccion</th>
                        <th>Tipo de Sange</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><button class="option" onclick="ShowConsultaModal('@item.IdPaciente')">Generar consulta</button></td>
                            <td>@item.NoRegistro</td>
                            <td>@item.Nombre</td>
                            <td>@item.Apellido</td>
                            <td>@item.Dpi</td>
                            <td>@(DateTime.Now.Year - item.FechaNacimiento.Year - ((DateTime.Now.Month < item.FechaNacimiento.Month || (DateTime.Now.Month == item.FechaNacimiento.Month && DateTime.Now.Day < item.FechaNacimiento.Day)) ? 1 : 0))</td>
                            <td>@item.Telefono</td>
                            <td>@item.Correo</td>
                            <td class="nowrap">@item.Direccion</td>
                            <td>@item.TipoSange</td>
                            <td>
                                <div class="options d-flex ">
                                    <a class="option" href="@Url.Action("Historial","Pacientes",new{id = item.IdPaciente}) ">Historial</a>
                                    <a class="option" href="/Pacientes/Detalles/@item.IdPaciente">Ver</a>
                                    <button class="option" onclick="ShowEditModal('@item.IdPaciente')">Editar</button>

                                    <form asp-action="Eliminar" asp-route-id="@item.IdPaciente">
                                        <button class="option" type="submit">Eliminar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



        @section Scripts{
            <script src="~/js/pages/pacientes.js" asp-append-version="true"></script>
            <script>
                let urls = {
                    getPaciente: "@Url.Action("GetPaciente", "Pacientes")",
                }

                $(document).ready(function () {
                    $(".modal-editar").click(function () {
                        var paciente = JSON.parse($(this).data("paciente"));
                    });
                });
            </script>
        }
