@using ClinicaDomain;
@using Newtonsoft.Json;
@model clinicaWeb.Models.ReportesViewModel;

@{
    ViewData["Title"] = "Reportes";
}
@section Links{
    <link rel="stylesheet" href="~/css/pages/Consultas.css" asp-append-version="true" />
}

<div class="card w-100 shadow-lg mt-5">

    <div class="card-header bg-ligth">
        <h3 class="h3">Filtros</h3>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Del</label>
                        <input class="form-control" type="date" name="from" id="from"/>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Al</label>
                        <input class="form-control" type="date" name="to" id="to" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Paciente</label>
                        <select name="IdPaciente" class="form-control">
                            <option></option>
                            @foreach (var paciente in Model.Pacientes)
                            {
                                <option value="@paciente.IdPaciente">@paciente.Nombre @paciente.Apellido - @paciente.Dpi</option>
                            }
                        </select>
                    </div>
                    </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Servicio</label>
                        <select name="IdPaciente" class="form-control">
                            <option></option>
                            @foreach (var servicio in Model.Servicios)
                            {
                                <option value="@servicio.IdMotivoCobro">@servicio.Descripcion</option>
                            }
                        </select>
                    </div>
                    </div>
                </div>
                <br />
            <button type="submit" class="btn btn-primary d-block mx-auto">Buscar</button>
        </form>
    </div>
</div>

<div class="card w-100 shadow-lg mt-5">

    <div class="card-header bg-ligth">
        <h3 class="h3">Reporte</h3>
    </div>
    <div class="card-body">
        <div class=" table-responsive ">
            <table id="table" class="table table-striped ">
                <thead class="table-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Motivo de consulta</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var paciente in Model.Pacientes)
                    {
                        foreach (var consulta in paciente.Consulta)
                        {
                                    <tr>
                                        <td>@consulta.Fecha</td>
                                        <td>@consulta.PacienteInformacion.Nombre</td>
                                        <td>@consulta.PacienteInformacion.Apellido</td>
                                        <td>@consulta.MotivoConsulta</td>
                                        <td>
                                            <div class="options d-flex ">
                                                <a class="option" href="@Url.Action("Index","ContinuarConsulta",new{consultaId=consulta.IdConsulta})">@consulta.Total</a>
                                            </div>
                                        </td>
                                    </tr>                      
                        }    
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/pages/reportes.js" asp-append-version="true"></script>
}