<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Traumha</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    @await RenderSectionAsync("Links", required: false)

</head>
<body>


    <div class="container-menu container-fluid vh-100 d-flex">
        <button id="toggle-button" class="toggle-button">
            <i class="fas fa-bars"></i>
        </button>
        <nav class="menu align-content-center justify-content-center">

            <div class="logo align-content-center justify-content-center d-flex mx-auto my-auto mt-4 ">
                <img src="~/img/Logo.png" alt="Logo" style="width:80%" class="">
            </div>
            <hr class="mt-4">
            <b>
                Hola <label id="nombreUsuario"></label>
            </b>
            <hr>
            <div class="botones btn-group-vertical  mt-2">
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Pacientes") ? "active" : "")" href="/Pacientes"> <i class="fa-solid fa-user-injured fa-xl menu_icon"></i> Pacientes</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Consultas" || ViewContext.RouteData.Values["controller"].ToString() =="ContinuarConsulta") ? "active" : "")" href="/Consultas"><i class="fa-solid fa-notes-medical fa-xl menu_icon"></i>Consultas</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Pagos") ? "active" : "")" href="/Pagos"><i class="fa-solid fa-money-bill fa-xl menu_icon"></i> Pagar Consultas</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Citas") ? "active" : "")" href="/Citas"><i class="fa-solid fa-calendar fa-xl menu_icon"></i>Citas</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Reportes") ? "active" : "")" href="/Reportes"><i class="fa-regular fa-file-lines fa-xl menu_icon"></i>Reportes</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Servicios") ? "active" : "")" href="/Servicios"><i class="fa-solid fa-hand-holding-medical fa-xl menu_icon"></i>Servicios</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Usuarios") ? "active" : "")" href="/Usuarios"><i class="fa-solid fa-users fa-xl menu_icon"></i>Usuarios</a>
                <a class="menu_bt @((ViewContext.RouteData.Values["controller"].ToString() == "Configuración") ? "active" : "")" href="/Config"><i class="fa-solid fa-gears fa-xl menu_icon"></i>Configuración</a>
                <a class="menu_bt logout " href="/"><i class="fa-solid fa-right-from-bracket fa-xl menu_icon"></i>Cerrar Sesión</a>
            </div>
        </nav>
        <script>
            var test = "@TempData["UsuarioNombre"]";
            if (test !== "") {
                localStorage.setItem("UsuarioNombre", test)
            }
            document.getElementById("nombreUsuario").textContent = localStorage.getItem("UsuarioNombre");
        </script>
        <div class="container-larger mx-auto px-0 mt-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/js/datatables.buttons.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_font.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="https://kit.fontawesome.com/eb80a36c7c.js" crossorigin="anonymous"></script>
    

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
