@using ClinicaInfrastructure
@using clinicaWeb.Models
@model GenerarRecetaModel
@using ClinicaDomain
@using ServiceStack
@{
    Layout = null;
    var frases = StaticConfiguration.frases;
    var random = new Random();
    var fraseElegida = frases[random.Next(frases.Count)];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/pages/RecetaStyle.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>


<body>
    <img src="@Url.Content("~/img/NewLogoOp.png")" alt="Marca de agua" class="watermark" />

    <script>
        window.onload = function () {
            window.print();
        };
    </script>

<div class="fila">
  <div class="logo-container">
    <img src="@Url.Content("~/img/NewLogoOp.png")" alt="Logo">
  </div>

  <div class="horario">
    <div><strong>Horario:</strong></div>
    <div>Lunes a Viernes de 9:00 a 18:00 Hrs.</div>
    <div>Sábados de 9:00 a 13:00 Hrs.</div>
  </div>
</div>


<div class="upper2" style="margin-top:-10px;">
    <hr style="border: 0.5px solid #004169 ;">

    <table style="border-style: none; width:100%;">
        <tr style="margin-left: 10px;margin-right: 15px">
            <th style="text-align: left">
                    <h1 style="display: inline; font-size: 13px; font-weight: bold; "> Direccion:</h1><br>
                    <b style="font-size: 12px; font-weight: lighter;">Calzada Santa Lucia Norte No. 22</b><br>
                    <b style="font-size: 12px; font-weight: lighter;">Antigua Guatemala</b><br>
            </th>
            <th style="text-align: right">
                    <b style="font-size: 13px; font-weight: bold; ">Fecha:</b><br>
                    <b style="font-size: 12px; font-weight: lighter;">@Model.Receta.Fecha.ToString("dd/MM/yyyy")</b>
            </th>
        </tr>
    </table>
</div>

<div class="middle">
    <hr style="border: 0.5px solid #004169 ; ">
        <b style="font-size: 13px;font-weight:lighter;margin-left:10px;">Paciente: @($"{Model.Paciente.Nombre} {Model.Paciente.Apellido}")</b>
    <hr style="border: 0.5px solid #004169 ;">
        <div class="detalleReceta">
            <table style="border-style: none; width:100%;">
                <tr style="margin-left: 3px">
                    <th style="text-align: center; padding-right:30px; padding-left:30px;">
                        @foreach (var item in Model.DetallesReceta ?? new())
                        {
                            <div class="circle-container">
                                @{
                                    double total = 0;
                                    var tieneTotal = !item.Cantidad.IsNullOrEmpty() && !item.DosisTiempo.IsNullOrEmpty() && !item.DosisDias.IsNullOrEmpty();
                                    if(tieneTotal)
                                    {
                                        var tiempoInt = int.Parse(item.DosisTiempo);
                                        var cantidadDeci = double.Parse(item.Cantidad);
                                        var diasInt = int.Parse(item.DosisDias);
                                        total = cantidadDeci * (24/tiempoInt) * diasInt;
                                    }
                                }
                                <h6>@item.Medicamento.ToUpper()</h6>&nbsp;&nbsp;&nbsp;&nbsp;<label class="ms-3" style="font-size:10px;">@(total!=0? $"Total: {total}":"")</label>
                            </div>
                            <hr class="line">
                            @if (tieneTotal)
                            {
                                <p style="display: inline; font-size: 12px; font-weight:lighter"> @(item.Cantidad.IsNullOrEmpty() ? "" : $"Cantidad: {item.Cantidad}") @(item.DosisTiempo.IsNullOrEmpty() ? "" : int.Parse(item.DosisTiempo) > 1 ? $"cada {item.DosisTiempo} horas" : "cada hora") @(item.DosisDias.IsNullOrEmpty() ? "" : int.Parse(item.DosisDias) > 1 ? $"durante {item.DosisDias} días" : "durante un día") </p><br>
                            }
                            <p style="display: inline; font-size: 12px; font-weight:lighter"> @(item.Instrucciones.IsNullOrEmpty() ? "" : $"Instrucciones: {item.Instrucciones}") </p>
                         
                            <br>
                            <br>
                        }

                        @if(!Model.Receta.Descripcion.IsNullOrEmpty())
                        {
                            <p style="display: inline; font-size: 12px; font-weight:lighter"> @($"Otras observaciones: {Model.Receta.Descripcion}") </p>
                            <br>
                        }
                        <p style="display: inline; font-size: 11px; font-weight:bold">-OMITIR CUALQUIER PRESCRIPCION DESPUES DE ESTA LINEA-</p><br>
                        <p style="display: inline; font-size: 12px; font-weight:lighter"> @(Model.CitaProx == new DateTime() ? "" : $"Próxima cita: {Model.CitaProx.ToString("dd/MM/yyyy HH:mm:ss")}") </p><br>
                    
                    </th>
                </tr>
            </table>
        </div>
</div>

    <footer class="piePag">
<div class="under">
            <p style=" text-align: center; font-size: 11px; font-weight:bold">-NO PERMITA QUE LE CAMBIEN LA RECETA-</p>
            <p style="text-align: center; font-size: 11px; font-style: italic;">@fraseElegida</p>
            <hr style="border: 0.5px solid #004169 ;">
            <h1 style="display: inline; font-size: 11px; "> Contacto: </h1><br>
            <p style="display: inline; font-size: 11px; font-weight:lighter"><img src="~/img/tel.png" style="width: 14px; height: 14px;"> Tel: 7832-6115 - <img src="~/img/cel.png" style="width: 14px; height: 14px;"> Cel: 3787-1021</p><br>
            <p style="display: inline; font-size: 11px; font-weight:lighter"><img src="~/img/correo.png" style="width: 15px; height: 15px;"> Correo: dr.manuelhernandeztyo@gmail.com </p>
            <p style="display: inline; font-size: 11px; font-weight:lighter;padding-left:5px;"><img src="~/img/web.png" style="width: 15px; height: 15px;"> drmanuelhernandez.com </p>
    <hr style="border: 0.5px solid #004169 ;">
            <p style=" text-align: center; font-size: 13px; font-weight:bold"><img src="~/img/facebook.png" style="width: 15px; height: 15px;"> Clínicas Dr. Manuel Hernández - Traumatología y Ortopedia del Deporte</p>
</div>
    </footer>

</body>
</html>
